@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap");

/* font-family: 'Abel', sans-serif;
font-family: 'Anton', sans-serif; */

:root {
  --red: #e6563b;
  --orange: #eb9d3a;
  --green: #7cb06c;
  --breen: #00aba9;
  --white: #f0f0f0;
  --grey: #e6e6e6;
}
body {
  background-color: var(--grey);
  font-family: 'Anton', sans-serif;
  max-width: 100%;
}

.logo {
  height: 30px;
  width: 30px;
  margin: 10px 0px;

}
.logo-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.brand {
  font-size: 15px;
  margin-left: 10px;
  font-weight:500;
  font-family: 'Abel', sans-serif;


}
nav {
  margin-left: 40px;
}
h1,h2 {
  text-align: center;
  margin-top: 15px;
}
h1{
  font-size:48px;
}
.circle {
  height: 75px;
  width: 75px;
  border-radius: 9999px;
  color: white;
}
.red {
  display: flex;
  background-color: var(--red);
  align-items: center;
  justify-content: center;
  border: 5px solid white;
}
.orange {
  display: flex;
  background-color: var(--orange);
  align-items: center;
  justify-content: center;
  border: 5px solid white;
}
.green {
  display: flex;
  background-color: var(--green);
  align-items: center;
  justify-content: center;
  border: 5px solid white;
}
.blue {
  display: flex;
  background-color: var(--breen);
  align-items: center;
  justify-content: center;
  border: 5px solid white;
}
.circles {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
hr {
  margin-left: 150px;
  margin-top: 50px;
  width: 80%;
  opacity: 50%;
}
.big-pic {
  max-width: 300px;
}

.circle-red {
  background-color: var(--red);
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-blue {
  background-color: var(--breen);
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-orange {
  background-color: var(--orange);
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-green {
  background-color: var(--green);
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-pic {
  width: 50px;
  height: 50px;
}
.section-header {
  text-align: center;
  margin-top: 50px;
}

.man-pic {
  height: 200px;
  width: 300px;
}
ul{
  font-family: 'Abel', sans-serif;
  font-size:12px;
}
.section-header{
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  padding-right: 150px;
}
.featured-project{
  font-family: 'Abel', sans-serif;
  font-size: 12px;
}
.last-tweet{
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
p.last-tweet{
  width:400px;
  margin-top: -20px;
}
.last-pic{
  margin-bottom: 30px;
}
.right-column{
  margin-left: 50px;
}
.nav-toggle {
  display: none;
}

.navbar-toggle {
  color: #fff;
  margin: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.navbar-links {
  display: none; /* Hide links by default */
}

.navbar-links a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.hide-nav{
  display: none;
}

#nav-toggle:checked + .navbar-toggle + .navbar-links {
  display: block;
}
.left-col{
margin-left: 140px;
}
@media screen and (max-width: 1200px){
  .left-header{
    margin-bottom: 30px;
  }
  .side-pic {
    width: 80px;
    height: 80px;
  }
  .second-row{
    gap:60px;
  }
  .left-col{
    margin: 0;
  }
  .right-column{
    margin: 0;
  }
  p.last-tweet{
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .right-column {
    display: none;
  }

  .brand {
    display: none;
  }

  li {
    display: none;
  }

  .hide-nav {
    position: absolute;
    right: 0px;
    display: flex;
  }
 .left-header{
   text-align: center;
   padding: 0;
 }
 hr{
   width: 65%;
 }
 .first-pic{
   display: flex;
   justify-content: center;
 }
 h1{
   margin-left: 70px;
   width:600px;
 }
}
@media screen and (max-width: 576px) {
  .d-flex{
    flex-direction: column;
    gap: 0;
  }
  .small-circles{
    flex-direction: row;
  }
  .featured-project{
    flex-direction: row;
    justify-content:space-between;
  }
  .big-pic{
    max-width: 100%;
    height:auto;
  }
  .man-pic{
    height:auto;
    width: 576px;
  }
  hr{
    display: none;
  }
  .circles{
    flex-direction: row;
  }
  h1{
    margin-left: 50px;
    width: 450px;
    font-size: 60px;
  }
  .circle{
    margin: 10px;
  }

}